@import "Variables";

.mainDiv{
  background: $color-bg-darck;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 5%;
}
.textNavigation{
  color: $color-text-grey;
  cursor: pointer;
  margin-right: 10px;
  font-family: $fontFamily-header;
  font-size: 20px;
}
.hoveredNavigation:hover{
    //padding: 3px;
    border-radius: 3px;
    background: $color-navigationDarkSecond;
  }
.app{
  height: 100%;
  text-align: center;
}
.contentWrapper{
  height: calc(100% - 48px);
  width: 100%;
  display: flex;
  justify-content: center;
  .innerContentWrapper{
    width: 80%;
  }
}